.SearchForm {
  text-align: center;
  margin: 0 auto;
}

.WeatherSearch h3{
    margin-top: 20px;
    margin-left: 20px;
}

.WeatherSearch ul {
  list-style: none;
  margin-left: 20px;
  padding: 0;
}
.WeatherSearch .Weather{
     margin-left: 20px;
}
.CurrentTemperature {
  font-size: 60px;
  line-height: 1.5;
}
